html{

    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:black;
    color:white;
}
header{
    border:2px solid white;
    border-radius:20px;
    display:flex;
}
header h1{
   
    display:block;
    margin:30px 0 10px 450px;
}
header img{
    margin:10px 0 10px 20px;
    display:block;
    width:70px;
    height:95px
   
}
ul{

    list-style-type:none;
}
.navBar{
    
    border:2px solid white;
    border-radius:20px;
    display:flex;
    justify-content:center;
    

}
.navBar a{
  
  margin:0 75px 0 75px; 
  display: block;
  color: white;
  font-weight:bold;
  text-decoration: none;
  padding: 14px 20px;
  transition: background .5s;
}
.navBar a:hover {
  background-color: #575757; /* Hover effect */
  border-radius: 5px;
}
.home{

    display:flex;
    flex-direction:column;
    gap:10px;

}
.home div{

    display:flex;
    flex-direction:row;
}
.home h2{
    width:80px;
    height:40px;
    font-size:25px;
    display:block;
    border:2px white solid;
    border-radius:5px;
    margin-left:10px;
    padding:10px

}
.home img{
    display:block;
    width:200x;
    height:200px;
    border-radius:100px;
    margin:0 0 0 50px;
}
.home p{
    border:2px white solid;
    border-radius:5px;
    font-size:30px;
    text-align: justify;
    padding:25px;
    margin:0 0 0 20px;
}
.home p:hover{

    transform: scale(1.020);
    transition: transform 0.050ms;
}
#aboutme h3{
    font-size:25px;
    width:130px;
    border:2px solid white;
    border-radius:5px;
    margin:250px 0 0 15px;
    padding-left:5px;

}
.pictureQuote{

    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content:left;
    align-items:center;
    margin-top:50px;
}

.pictureQuote p{
    width:500px;
    height:100px;
    font-size:20px;
    font-style:italic;
    border:2px solid white;
     border-radius:25px;
    padding:10px 0 0 30px;
}
.pictureQuote img:hover{

    transform: scale(1.020);
    transition: transform 0.050ms;
}
.pictureQuote p:hover{

    transform: scale(1.020);
    transition: transform: 0.;
}
.pictureQuote img{

    display:block;
    width:200px;
    height:200px;
    border:2px solid white;
    border-radius:100px;
    margin:20px 0 0 15px;
}
.aboutMePersonal p{
    width:880px;
    height:140px;
    line-height:3;
    text-align:justify;
    border:2px solid white;
    border-radius:25px;
    padding: 20px;
    margin:0 0 0 400px;
}
.aboutMePersonal p:hover{

    transform: scale(1.020);
    transition: transform 0.050ms;
}
#myachievement h4{

    font-size:25px;
    width:220px;
    border:2px solid white;
    border-radius:5px;
    margin:0px 0 0 15px;
    padding-left:5px;
}
.myAchievementContent{

    display:flex;
    flex-direction:row;
}
.myAchievementContent div{

    margin:20px 0 0px 20px;
}
.myAchievementContent img{

    width:500px;
    border:2px solid white;
    border-radius:25px;
    padding:20px;
}
.myAchievementContent img:hover{

     transform: scale(1.020);
    transition: transform 0.050ms;
}
.myAchievementContent p{
    text-align:justify;
    line-height: 2;
    border:2px solid white;
    border-radius:25px;
    width:500px;
    height:75px;
    margin:100px 0 0 50px;
    padding:30px;
}
.myAchievementContent p:hover{
    transform: scale(1.020);
    transition: transform 0.050ms;
}
#experiences h5{

    font-size:25px;
    width:170px;
    border:2px solid white;
    border-radius:5px;
    margin:20px 0 0 15px;
    padding-left:5px;
}
.experiencesContent{

    display:flex;
    flex-direction: column;
}
.experiencesContent img{
    display:block;
    width:200px;
    height:200px;
    margin:15px 50px 0 0;
    border-radius:100px;
}
.experiencesContent p{

    text-align:justify;
    width:600px;
    height:70px;
    line-height: 2;
    border:2px solid white;
    border-radius: 25px;
    margin:40px 0 40px 20px;
    padding:10px;
    
}
.experiencesContent ul{
    width:1000px;
    height:300px;
    list-style-type:none;
    border:2px solid white;
    border-radius:25px;
    line-height:5;
    text-align: justify;
    margin:50px 0 50px 280px;
    padding:20px;
}
.experiencesContent img:hover{
    transform: scale(1.020);
    transition: transform 0.050ms;
}
.experiencesContent p:hover{
    transform:scale(1.020);
    transition: transform 0.050ms;

}
.experiencesContent ul:hover
{
    transform: scale(1.020);
    transition: transform 0.050ms;
}
#contactme h6{

    font-size:25px;
    width:160px;
    border:2px solid white;
    border-radius:5px;
    margin:0px 0 0 15px;
    padding-left:5px;
}
.contactMeContent{
    display:flex;
    flex-direction:row;
}

.contactMeContent img{
    width:100px;
    border-radius:50px;
    margin:20px;
}
.contactMeContent img:hover{
    transform: scale(1.30);
    transition: transform 0.100ms;
}
footer h7{
    width:100%;
    display:block;
    border-radius:10px;
    text-align:center;
    border:2px solid white;
    margin:50px 0 0 0;
        
}
